* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

.App {
  text-align: center;
}

.container {
  max-width: 700px;
  margin: auto;
}

.App-logo {
  pointer-events: none;
}

.App-header {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 15px 20px;
}

.main {
  padding: 15px 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 24px;
  letter-spacing: -0.1em;
  font-weight: 700;
}

.nav {
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  padding: 30px 0;
}

.input-group {
  display: flex;
  width: 100%;
  gap: 20px;
  margin: 20px 0;
}

.input {
  flex: 1 1 0;
  width: 100%;
  border: 1px solid #D5D4D8;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

.btn {
  width: 100%;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  /* font-family: 'Karla'; */
/* font-style: normal; */
font-weight: 700;
font-size: 18px;
line-height: 19px;
/* identical to box height */

/* text-align: center; */
letter-spacing: -0.1em;

  color: #FFFFFF;
}

